:root {
  --first-color: #0084fd;
  --second-color: #9994e7;
  --third-color: #b5ddff;
  --fourth-color: #333333;
  --fifth-color: white;
  --my-gap: 1rem;
  --my-font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--my-font-family);
}

header {
  padding: 1rem 0 1rem;
}

.container {
  width: 100%;
  
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px dashed green;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--my-gap);
}

.center-and-space-btw {
  justify-content: space-between;
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 100%;
  border: 1px solid red;  
  padding: 1rem;
}

.section-1 h4 {
  color: var(--first-color);
}

.section-1 img {
  width: 100%;
  object-fit: contain;
}
/*****CLASSI UTILIITIES*********************/
.backgr-first-color {
  background-color: var(--first-color);
}

.backgr-second-color {
  background-color: var(--second-color);
}

.backgr-third-color {
  background-color: var(--third-color);
}

.backgr-fourth-color {
  background-color: var(--fourth-color);
}

.backgr-fifth-color {
  background-color: var(--fifth-color);
}

.bord-radius-md {
  border-radius: 30px;
}

.bord-radius-sm {
  border-radius: 15px;
}


/****************MEDIA QUERY*********************/

/* medium */
@media screen and (min-width: 768px) {
  .col-full-width-medium {
    flex-basis: 100%;
  }

  .col-1-3-medium {
    flex-basis: calc((100% / 3) - var(--my-gap));
  }
  
  .col-2-3-medium {
    flex-basis: calc(((100% / 3) - var(--my-gap)) * 2);
  }
  
  .col-1-2-medium {
    flex-basis: calc((100% - var(--my-gap)) / 2);
  }

  .container-md-medium {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .container-sm-medium {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

/* large */
@media screen and (min-width: 920px) {
  .col-full-width-large {
    flex-basis: 100%;
  }

  .col-1-3-large {
    flex-basis: calc((100% / 3) - var(--my-gap));
  }
  
  .col-2-3-large {
    flex-basis: calc(((100% / 3) - var(--my-gap)) * 2);
  }
  
  .col-1-2-large {
    flex-basis: calc((100% - var(--my-gap)) / 2);
  }

  .container{             /*IN DESKTOP SOVRASCRIVE IL PADDING LEFT E RIGHT DI TUTTA LA STRUTTURA*/
    padding-left: 20%;
    padding-right: 20%;
  }

  .container-xs-large {
    padding-left: 12rem;
    padding-right: 12rem;
  }

  .container-xxs-large {
    padding-left: 18rem;
    padding-right: 18rem;
  }
}




