:root {
  --bckg-header-color: #0084fd;
  --my-gap: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--bckg-header-color);
}

.container {
  width: 100%;
  min-width: 380px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px dashed green;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; /*VERRA' POI SOVRASCRITTA DA MEDIAQUERY TABLET E DESKTOP*/
  gap: var(--my-gap);
}

.flex-dir-row {  /*NECESSARIA IN QUANTO LA CLASSE ROW (SOPRA) CONDIVISA E' IN COLUMN*/
  flex-direction: row;
}

.center-and-space-btw {
  justify-content: space-between;
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  border: 1px solid red;  
  padding: 1rem;
}

.col100 {          /* DA VERIFICARE L'UTILITA' DI QUESTA CLASSE*/
  flex-basis: 100%;
}
